<div class="fondo-modal-imagen animated fadeIn fast"
    [class.oculto]="modalImagenService.ocualtarModal">

    <div class="modal fade show"
        tabindex="-1"
        role="dialog"
        style="display: block;">

        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cargar imagen</h4>
                    <button type="button" 
                            class="close" 
                            data-dismiss="modal" 
                            (click)="modalImagenService.cerrarModal()"
                            aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h3>Seleccione una imagen</h3>
                    <div class="text-center">
                        <img *ngIf="!imgTemp" [src]="modalImagenService.img" class="img-avatar">
                        <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
                    </div>
                    <input type="file"
                            (change)="cambiarImagen($event)">

                </div>
                <div class="modal-footer">
                    <button type="button" 
                            class="btn btn-default waves-effect" 
                            (click)="modalImagenService.cerrarModal()"
                            data-dismiss="modal">Cerrar</button>
                    <button type="button" 
                            class="btn btn-danger waves-effect waves-light"
                            (click)="subirImagen()"
                            >Cargar imagen</button>
                </div>
            </div>

        </div>
    </div>


</div>
